.app-root {
  max-width: 76rem;
  margin: 0 auto;
  padding: 40px 24px 60px;
  font-size: 18px;
}

.page-main {
  margin-top: 40px;
}

.content-row {
  align-items: flex-start;
  display: grid;
  grid-template-columns: minmax(0, 1fr) var(--layout-right-col);
  column-gap: var(--layout-gap);
}

.content-main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content-sidebar {
  width: 100%;
}
